@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap");

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

h1 {
  font-family: "Inconsolata";
  font-weight: 700 !important;
  font-size: 24px !important;
  letter-spacing: -3px;
}

.scarecrow {
  height: 448px;
}

.scarecrow img {
  height: 100%;
}

.info404 h2 {
  font-family: "Space Mono", monospace;
  font-size: 64px;
  font-weight: 700;
  line-height: 95px;
}

.info404 p {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
}

.info404 button {
  width: 216px;
  height: 68px;
  font-family: "Space Mono", monospace;
  font-size: 14px !important;
  font-weight: 700;
}

.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #bdbdbd;
  font-size: 14px;
  width: 100%;
  left: 0;
}

.footer a {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #bdbdbd;
  font-size: 14px;
}
